/* Resete CSS - Padronização para todos navegadores*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Fontes */
html, body{
    font-family: 'Poppins', sans-serif;
}
h1, h6, p {
    color: white;
}
/* Imagem de fundo */
body {
    background: url(/img/background.jpg) no-repeat center 0;
}
/* Esttilo cabeçalho */
.logomarca {
    width: 100px;
    height: 57px;
    background: url(/img/boomin.png) no-repeat 0 0;
    display: block;
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu_li{
    float: left;
    margin: 0 10px;
}
.menu_link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}
.bt-sigin {
    border: 1px solid white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    margin-left: 30px;
}
.bt-sigup {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
    background: #25023a;
}
.apresentacao {
    padding-top: 20px;
}
/* Estilo corpo da pagina */
.apresentacao_box{
    padding-top: 100px;
}
.tittle-apresetacao{
    font-size: 44px;
    line-height: 48px;
}
.tittle-apresetacao strong{
    font-weight: 600;
}
.text-apresentacao{
    font-size: 18px;
    line-height: 24px;
    margin: 40px 0 30px 0;
}
.apresentacao_descricao{
    width: 50%;
    float: left;
    padding-top: 45px;
}

.apresentacao_video{

    width: 50%;
    float: left;
}
.bt-red{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    background: #d16704;
    display: inline-block;
}
/* Estilo icones histórias*/
.box-icone {
    width: 80px;
    height: 80px;
}
.box-icone-titulo{
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
}
.box-icone-texto{
    font-size: 16px;
    line-height: 22px;
}
.box-wrapper{
    width: 25%;
    float: left;
}
.icones{
    padding: 150px  0;
}
/* Limpeza do float*/
.clear {
    clear: both;
}
/* centralizando pagina */
.center{
    width: 1110px;
    margin: 0 auto;
}


/******************* Estilo Login e Registro ***************/
.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3%;
    height: 35%;
    background-color: rgb(104, 37, 104);
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    min-width: 20%;
    min-height: 35%;
    overflow: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.content form{
    flex-direction: column;
}
.span-required {
    display: none;

}
.inputs {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: white;
}
.inputs:hover {
    background-color: #25023a;
    
}
button {
    transition-duration: 0.4s;
    background-color: #ac8a2c;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  
  button:hover {
    background-color: #9541ce;
    color: white;
  }
/*  Estilo Textos H1 */
.registro {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 50px;
    font-weight: 600;
}