:root {
  /* Define variáveis para as cores */
  --primary-color: #3366FF;
  --secondary-color: #FFC433;
  --tertiary-color: #A0A0A0;
}

/* Define a fonte padrão para todo o documento */
body {
  font-family: Arial, sans-serif;
}

/* Define as propriedades da barra de navegação */
nav {
  background-color: var(--primary-color); /* usa a variável para a cor de fundo */
  color: #fff; /* define a cor do texto como branco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Define as propriedades dos links da barra de navegação */
nav a {
  color: #fff; /* define a cor do texto dos links como branco */
  text-decoration: none;
  padding: 10px;
}

/* Define as propriedades dos links de hover da barra de navegação */
nav a:hover {
  background-color: var(--tertiary-color); /* usa a variável para a cor de fundo do hover */
}

/* Define as propriedades da seção de cabeçalho */
header {
  background-color: var(--secondary-color); /* usa a variável para a cor de fundo */
  color: #fff; /* define a cor do texto como branco */
  text-align: center;
  padding: 50px;
}

/* Define as propriedades do título da seção de cabeçalho */
header h1 {
  font-size: 36px;
  margin: 0;
}

/* Define as propriedades do conteúdo principal */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

/* Define as propriedades dos itens do conteúdo principal */
main .item {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(33.33% - 10px);
}

/* Define as propriedades dos links dentro dos itens do conteúdo principal */
main .item a {
  color: var(--primary-color); /* usa a variável para a cor do texto dos links */
}

/* Define as propriedades dos links de hover dentro dos itens do conteúdo principal */
main .item a:hover {
  text-decoration: underline;
}

/* Define as propriedades do rodapé */
footer {
  background-color: var(--primary-color); /* usa a variável para a cor de fundo */
  color: #fff; /* define a cor do texto como branco */
  text-align: center;
  padding: 20px;
}
